/* Sidepanel with controls */
.sidepanel {
    float: left;
    height: 100%;
    width: 15%;
    z-index: 1;
    top: 0;
    color: white;
    border: 1px solid #ffffff; /* Temporary for layout */
  }

canvas {
    float: left;
    width: 60%;
    top: 0;
    border: 1px solid #ffffff;
}

/* Panel for heatmap output */
.output {
    float: left;
    height: 100%;
    width: 15%;
    z-index: 1;
    top: 0;
    color: white;
    border: 1px solid #ffffff; /* Temporary for layout */
}

.output canvas {
    float: left;
    width: 90%;
    top: 0;
    margin: 5%;
}

body {
    background-color: #000000;
}
