/* Sidepanel with controls */
.sidepanel {
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    width: 15%;
    z-index: 1;
    color: white;
    border: 1px solid #ffffff; /* Temporary for layout */
  }

.scene {
    position: fixed;
    left: 15%;
    top: 0;
    width: 60%;
}
.scene canvas {
    float: left;
    width: 100%;
    top: 0;
    border: 1px solid #ffffff;
}

/* Panel for heatmap output */
.output {
    position: fixed;
    left: 75%;
    height: 100%;
    width: 15%;
    z-index: 1;
    top: 0;
    color: white;
    border: 1px solid #ffffff; /* Temporary for layout */
}

.output canvas {
    float: left;
    width: 90%;
    top: 0;
    margin: 5%;
}

body {
    background-color: #000000;
}
